.user-search {
  margin-top: 1em;

  font-size: 5em;
  font-family: 'Bebas Neue', cursive;
}

.button-search {
  background-color: #111;
  color: #fff;
}

.user-found,
.statistics {
  margin-top: 2em;
  border: 0.5px solid silver;

  text-align: left;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

.search {
  margin-top: 4em;
}

.search-call {
  display: flex;
}

.input-search,
.button-search {
  /*colocar um ao lado do outro*/
}
